.projectCard {
	display: flex;
	flex-direction: column;
	justify-content: end;
	position: relative;
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.075);
	overflow: hidden;
	height: 528px;
	flex: 1 1 33%;
}

.projectCard__background {
	height: 288px;
	background-color: var(--color-blue-950);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -10;
}

.projectCard__CTA {
	text-align: center;
	height: 0px;
	padding-bottom: 0px;
	transition: all 0.1s ease;
	overflow: hidden;
}

.projectCard:hover .projectCard__CTA {
	padding-bottom: 16px;
	height: 32px;
}
