.card {
	--border-radius: 20px;
	background: linear-gradient(290deg, #4b6cb7 0%, #182848 100%);
	border-radius: var(--border-radius);
	height: 360px;
}

.card__title {
	font-size: var(--text-4xl);
	line-height: 1;
	font-weight: 500;
}

.card__whiteSpace {
	position: relative;
	background-color: white;
	width: fit-content;
	padding: 8px 16px;
	border-radius: 0px 0px var(--border-radius) 0px;
}

.card__whiteSpace button {
	background-color: grey;
	height: 48px;
	width: 48px;
	border-radius: 50%;
}

.card__negativeRadius {
	position: absolute;
	height: var(--border-radius);
	width: var(--border-radius);
}

.card__negativeRadius:first-of-type {
	top: 0px;
	right: 0px;
	transform: translateX(100%);
}

.card__negativeRadius:last-of-type {
	bottom: 0px;
	left: 0px;
	transform: translateY(100%);
}
