.projectShowcase {
	position: relative;
	border-radius: var(--radius-md);
	background-color: var(--background-color, rgba(0, 0, 0, 0));
	transition: background-color 0.4s ease;
}

.projectShowcase__inset {
	--inset-radius: var(--radius-md);
	font-size: 24px;
	padding: 8px 16px;
}
