<div class="hero-banner">
    <div class="hero-banner__left">
      <div class="hero-banner__text-container">
        <h1> Hello,<br>I'm Brian.</h1>
        <p> I'm a self-taught developer with an interest in
          UI design, Automation, and the Industrial Military Complex.
        </p>
        <p>
          I don't aim to know everything there is to know about software
          development. I seek to learn the skills to understand anything.
        </p>
      </div>
    </div>
    <div clas="hero-banner__right">

    </div>
</div>
