.project__section {
	display: flex;
	flex-direction: column;
	width: var(--max-page-width);
	margin: 0px auto;
}

.project__explore {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-top: var(--padding-6);
}

.project__exploreText {
	text-align: center;
	color: var(--color-neutral-300);
	margin-bottom: 6px;
}

.project__exploreButton {
	font-size: var(--text-xl);
	text-transform: uppercase;
	color: var(--color-neutral-400);
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 16px;
	transition: color 0.2s ease-out;
}

.project__exploreButton:hover {
	color: var(--color-neutral-700);
}

.project__exploreButton::before {
	content: "";
	height: 1px;
	width: 240px;
	background-color: var(--color-neutral-100);
}

.project__exploreButton::after {
	content: "";
	height: 1px;
	width: 240px;
	background-color: var(--color-neutral-100);
}
