.project {
	display: flex;
	flex-direction: column;
	margin: 64px 16px;
	width: var(--content-width);
	margin: 0px auto;
}

.project__header {
	width: var(--content-width);
	margin: 72px auto 48px;
}

.project__title {
	font-size: var(--text-6xl);
	font-weight: 600;
	line-height: 1.2;
	color: var(--color-secondary);
	filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
	text-align: center;
	letter-spacing: -1px;
	margin-bottom: 4px;
}

.project__desc {
	text-align: center;
	color: var(--color-neutral-600);
}

.project__list {
	display: flex;
	flex-wrap: wrap;
	gap: 48px;
}

.project__listItem {
	flex: 1 0 100%;
}

.project__exploreContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.project__exploreText {
	text-align: center;
	color: var(--color-neutral-300);
	margin-bottom: 6px;
}

.project__exploreButton {
	font-size: var(--text-xl);
	text-transform: uppercase;
	color: var(--color-neutral-400);
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 16px;
	transition: color 0.2s ease-out;
}

.project__exploreButton:hover {
	color: var(--color-neutral-700);
}

.project__exploreButton::before {
	content: "";
	height: 1px;
	width: 240px;
	background-color: var(--color-neutral-100);
}

.project__exploreButton::after {
	content: "";
	height: 1px;
	width: 240px;
	background-color: var(--color-neutral-100);
}
