.project {
	margin: 64px 16px;
	width: var(--content-width);
	margin: 0px auto;
}

.project__header {
	width: var(--content-width);
	margin: 72px auto 48px;
}

.project__title {
	font-size: var(--text-6xl);
	font-weight: 600;
	line-height: 1.2;
	background: linear-gradient(135deg, #f75c03 0%, #ff8c42 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.project__desc {
	margin-bottom: 48px;
}

.project__list {
	display: flex;
	flex-wrap: wrap;
	gap: 48px;
}

.project__listItem {
	flex: 1 0 100%;
}
