.logo__name {
	text-transform: uppercase;
	font-size: 32px;
	line-height: 0.7;
	margin-top: 3px;
	font-weight: 500;
}

.logo__job {
	line-height: 1;
	margin-top: 6px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-bottom: 2px solid var(--color-gray-100);
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: white;
}

.header__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: var(--max-page-width);
	padding: 16px 0px;
}

.header__logo {
	position: relative;
	height: 72px;
	width: fit-content;
	background-color: white;
	margin-left: auto;
}

.header__navBar {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
	gap: 24px;
	padding: 0px var(--content-padding);
}

.header__navBar a {
	text-decoration: none;
	color: var(--color-neutral-400);
	font-size: 18px;
	transition: var(--transition-fast);
}

.header__navBar a:hover {
	color: var(--color-neutral-900);
}

.header__navBar a:active {
	color: var(--color-secondary);
}

.header__contactButton {
	background-color: #292929;
	color: white;
	border: none;
	font-size: 18px;
	padding: 8px 24px;
	border-radius: 8px;
}
