.hero {
	--border-radius: 20px;
	--content-padding: 32px;
	background: linear-gradient(290deg, #4b6cb7 0%, #182848 100%);
	height: 55vh;
	border-radius: var(--border-radius);
	margin: 16px;
	display: flex;
	flex-direction: column;
}

.logo {
	padding: 0px var(--content-padding);
	color: white;
}

.logo__name {
	text-transform: uppercase;
	font-size: 32px;
	line-height: 0.7;
	margin-top: 3px;
}

.logo__job {
	line-height: 1;
	margin-top: 6px;
}

.header {
	position: relative;
	height: 72px;
	width: fit-content;
	background-color: white;
	margin-left: auto;
	border-radius: 0px 0px 0px var(--border-radius);
}

.headerRadius {
	position: absolute;
	width: var(--border-radius);
	height: var(--border-radius);
}

.headerRadius:first-of-type {
	left: 0px;
	transform: translateX(-100%);
}

.headerRadius:last-of-type {
	bottom: 0px;
	right: 0px;
	transform: translateY(100%);
}

.header__navBar {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
	gap: 24px;
	padding: 0px var(--content-padding);
}

.header__navBar a {
	text-decoration: none;
	color: black;
	opacity: 50%;
	font-size: 18px;
}

.header__contactButton {
	background-color: #292929;
	color: white;
	border: none;
	font-size: 18px;
	padding: 8px 24px;
	border-radius: 8px;
}

.heroContent {
	display: flex;
	justify-content: space-between;
	flex: 1;
	color: white;
	width: var(--content-width);
	margin: auto;
}

.heroContent__message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	max-width: 600px;
}

.heroContent__header {
	font-weight: 600;
	font-size: var(--text-6xl);
	line-height: 1;
	margin-bottom: 24px;
	letter-spacing: -0.03em;
	color: var(--color-secondary);
	filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
}

.heroContent__message p {
	margin-bottom: 12px;
	filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
}
