.hero {
	--border-radius: 16px;
	--content-padding: 32px;
	height: 720px;
	margin: 32px auto;
	display: flex;
	flex-direction: row;
	gap: 32px;
	width: var(--max-page-width);
}

.hero__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.hero__displayCase {
	position: relative;
	height: 240px;
	background: linear-gradient(320deg, #1c376e 0%, #182848 100%);
	border-radius: var(--border-radius);
}

.hero__profileImageContainer {
	position: relative;
	flex: 1;
	background: linear-gradient(290deg, #4b6cb7 0%, #182848 100%);
	border-radius: var(--border-radius) var(--border-radius) 0px
		var(--border-radius);
	overflow: hidden;
}

.hero__profileImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: calc(30%) 50%;
}

.heroContent {
	display: flex;
	justify-content: space-between;
	flex: 1;
	color: white;
	width: var(--content-width);
	margin: auto;
}

.heroContent__message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	max-width: 600px;
	padding: 0px var(--border-radius);
}

.heroContent__header {
	font-weight: 600;
	font-size: var(--text-6xl);
	line-height: 1;
	margin-bottom: 24px;
	letter-spacing: -0.03em;
	color: var(--color-secondary);
}

.heroContent__message p {
	margin-bottom: 12px;
}

.hero__socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: fit-content;
	padding: 8px;
	gap: 8px;
}

.hero__socialsIcon {
	width: 40px;
	height: 40px;
	padding: 8px;
	border-radius: 50%;
}

.hero__socialsIcon:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.hero__socialsIcon:active {
	background-color: rgba(0, 0, 0, 0.2);
}

.hero__socialsIcon img {
	width: 100%;
}
